/* ================= NOMALIZE CSS ============================*/
@import url(./normalize.css);

/* ================= GOOGLE FONTS============================*/
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@400;500;600&family=Montserrat:wght@400;500;600&display=swap');

/* =================VRIABLE CSS============================*/
:root{

    --header-height: 5rem;

    /* ===============Colours=============================== */
    --color-primary: #ffb434;
    --color-secondary: #FBF8F0;
    --color-border: #fdebbd;
    --color-text: #797a80;
    --color-heading: #000;
    /* =============== Font and Typography=============================== */
    --fontstyle-primary: 'Montserrat', sans-serif;
    --fontstyle-secondary: 'Inknut Antiqua', serif;
    /* ================= Font Weight============================*/
    --fontsize-nomal: 1.5rem;
    --fontsize-bigger: 1.8rem;
    --fontsize-h1: 4.4rem;
    --fontsize-h2: 3rem;
    --fontsize-h3: 3.1rem;
    --fontsize-h4: 2.5rem;
    --fontsize-small: 1.4rem;
    --fontsize-smaller: 1.0rem;

    --fontweight-regular: 400;
    --fontweight-medium: 500;
    --fontweight-semibold: 600;
     /* ================= z index　============================*/
     --z-tooltip: 10;
     --z-fixed: 100;
}


/* ================= BASE ============================*/
*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
   font-family: var(--fontstyle-primary);
   font-size: var(--fontsize-nomal);
   color: var(--color-text);
   background: var(--color-secondary);
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
    font-family: var(--fontstyle-secondary);
    color: var(--color-heading);
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

/* ================= REUSABLE CSS CLASSES ============================*/
.container{
    max-width: 1120px;
    margin-inline: auto;
    padding-inline: 1rem;
    overflow: hidden;
}
section{
    padding-block: 5rem;
}
i{
    cursor: pointer;
}
img{
    max-width: 100%;
    height: auto;
}
.icon{
    width: 40px;
}
.grid{
    display: grid;
}
/* =============================== NAV & HEADER ====================================== */
.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: var(--header-height);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
    z-index: var(--z-fixed);
}
.header__logo{
    background: var(--color-primary);
    font-size: 2rem;
    font-family: var(--fontstyle-secondary);
}
.header__logo > a{
    color: #fff;
}
.header__open{
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-heading);
}
.header__menu{
    background: var(--color-secondary);
    position: fixed;
    left: 0;
    top: -100%;
    width: 100%;
    padding-block: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .6s;
}
.header__list{
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
}
.header__item > a{
    color: var(--color-heading);
    font-family: var(--fontstyle-secondary);
    font-weight: var(--fontweight-medium);
    font-size: var(--fontsize-bigger);
}
.header__item{
    height: 2rem;
}

.header__item::after{
    content: '';
    display: block;
    width: 0;
    height: 3px;
    background: #ffb434;
    transition: width .5s;
}
.header__item:hover::after{
    width: 50%;
}
.header__close{
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.show-menu{
    top: 0;
    opacity: 1;
}

/* =============================== HOME ====================================== */
.home{
    width: 100%;
    height: 60rem;
    padding-top: 8rem;
    z-index: -1;
    display: flex;
    flex-direction: column;
    /* position: relative; */
}
.home__bg{
    background: var(--color-primary);
    position: absolute;
    top: 0;
    left:0;
    width: 50%;
    height: 60rem;
    z-index: 0;
}
.home__container{
    z-index: var(--z-tooltip);
}
.home__body{
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
}
.home__btn{
    background: var(--color-primary);
    width: 15rem;
    margin-inline: auto;
    padding-block: 1rem;
    border: 2px solid var(--color-secondary);
    margin-block: 2rem;
    cursor: pointer;
    position: relative;
    padding-right: 2rem;
}
.home__btn > a{
    color: #fff;
    font-weight: var(--fontweight-semibold);
}
.home__btn-arrow{
    color: #fff;
    font-size: 1.9rem;
    font-weight: 600;
    position: absolute;
    top: 0.85rem;
    right: 1.8rem;
    transition: right .4s;
}
.home__btn:hover .home__btn-arrow{
    right: 1.3rem;
}
.home__name{
    padding-left: 8rem;
    text-align: center;
}
.home__img{
    width: 17rem;
    margin-inline: auto;
}

/* =============================== ABOUT ME ====================================== */
.aboutMe__detail{
    max-width: 50rem;
}
.aboutMe__container{
    padding-inline: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutMe__header{
    text-align: center;
}
.section__heading{
    display: inline-block;
}
.section__heading::after{
    content: '';
    width: 100%;
    height: 3px;
    background: var(--color-primary);
    display: block;
}
.aboutMe__body{
    padding-block: 5rem;
}
.aboutMe__introduce{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-left: 1rem;
}
.aboutMe__discription{
    max-width: 50ch;
    line-height: 1.4;
}
.aboutMe__img{
   display: none;
}

/* anoutMe detail */
.aboutMe__detail{
    width: 100%;
    margin-bottom: 5rem;
}
.aboutMe__detail-heading{
    grid-template-columns: repeat(2, 1fr);
}
.aboutMe__history,
.aboutMe__education{
    padding-block: 1rem;
    border-radius: 10px;
    transition: all .4s;
}
.aboutMe__history{
    background: var(--color-primary);
    color: #fff;
}
.aboutMe__detail-title{
    text-align: center;
    font-weight: var(--fontweight-regular);
    cursor: pointer;
}
.aboutMe__detail-title> i{
    font-size: 2rem;
}
.aboutMe__detail-body{
    margin-top: 1rem;
    padding-block: 1rem;
    width: 100%;
    height: 31rem;
    position: relative;
}
.aboutMe__detail-body::after{
    position: absolute;
    top: 0;
    left: 50%;
    content: '';
    display: block;
    width: 2px;
    height: 100%;
    background: var(--color-primary);
}

.aboutMe__detail-1{
    grid-template-columns: repeat(2,1fr);
    width: 100%;
    column-gap: 5px;
    transition: all .4s;
    overflow: hidden;
}
.aboutMe__detail-2{
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    column-gap: 5px;
    overflow: hidden;
}

.aboutMe__data:nth-child(2){
    grid-column: 2/3;
    grid-row: 2/3;
    flex-wrap: wrap;
    justify-content: end;
    flex-direction: row;
    margin-left: 0.5rem;
}
.aboutMe__data:nth-child(3){
    grid-column: 1/2;
    grid-row: 3/-2;
}
.aboutMe__data{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.aboutMe__data-main{
    color: #000;
    font-size: var(--fontsize-small);
}
.aboutMe__data-sub{
    padding-top: 0.5rem;
    font-size: var(--fontsize-small);
}
.dot{
    position: absolute;
    width: 12px;
    height: 12px;
    background: var(--color-primary);
    border-radius: 100%;
    box-shadow: 0px 0px 5px hsla(37,100%,60%,0.5);
}
.dot-1,
.dot-3{
    right: -10px;
    top: 1rem;
}
.dot-2{
    left: -12px;
    top: 1rem
}
.aboutMe__detail-2{
    height: 0;
    transition: all .4s;
}
.show-education .aboutMe__detail-2{
    height: 100%;
}
.show-education .aboutMe__detail-1{
    height: 0;
}
.show-education .aboutMe__history{
    background: transparent;
    color: #000;
}
.show-education .aboutMe__education{
    background: var(--color-primary);
    color: #fff;
}

/* aboutMe footer */
.aboutMe__footer{
    width: 100%;
    padding-inline: 1rem;
    padding-block: 1rem;
}
.aboutMe__footer-icons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    height: 7rem;
}

/* =============================== PORTFOLIO ====================================== */
.portfolio__header{
    text-align: center;
    margin-bottom: 2rem;
}
.portfolio__cards{
    padding-block: 3rem;
}
.portfolio__card{
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    padding: 2rem;
    background: var(--color-border);
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}
.portfolio__img{
    width: 100%;
}
.portfolio__title{
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    text-align: center;
}
.portfolio__text{
    text-align: center;
}
.portfolio__btn{
    background: var(--color-primary);
    font-family: var(--fontstyle-secondary);
    width: 20rem;
    border: none;
    padding-block: 1rem;
    margin-inline: auto;
    margin-top: 2rem;
    cursor: pointer;
}
.portfolio__btn > a{
    color: #fff;
}
.portfolio__img{
    width: 100%;
    height: 25rem;
    position: relative;
}
.portfolio__img>img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
    object-position: 0px -1px;
}
.portfolio__git-div{
    position: absolute;
    right: 0.5rem;
    bottom: 1rem;
    background: #fff;
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s;
}
.portfolio__git{
    font-size: 2.5rem;
    color: #000;
}
.portfolio__git-div:hover{
    transform: translateY(-4px)
}
.portfolio__btn:hover{
    box-shadow: 0px 0px 10px hsla(37,100%,60%,0.5);
}
/* Swiper Button */
.swiper-button-prev::after,
.swiper-button-next::after{
    font-size: 20px;
    color:var(--color-primary);
    font-weight: 600;
    width: 20px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(-80px);
}
/* =============================== CONTACT ME ====================================== */
/* =============================== FOOTER ====================================== */

/* =============================== BREAKPOINTS  ====================================== */

/* For medium devices 576px */

/* For medium device 768px */

/* For large devices  1024px*/

/* For large devices  1200px*/

/* For 4k devices 1400px*/



